{% extends 'nurse/dashboard.html' %}
{% block content %}
{% load crispy_forms_tags %}
  <div class="container">
      <h1 class="text-center">Schedule_view</h1><br>
      <div class="row">
          <div class="card w-100 mx-auto">

  <table class="table">
      <tr>
          <th>hospital</th>
          <th>user</th>
          <th>vaccine</th>
          <th>date</th>
          <th>start_time</th>
          <th>end_time</th>
      </tr>
      {% for i in schedule %}
        <tr>

            <td >{{ i.hospital}}</td>
            <td >{{ i.vaccine}}</td>
            <td >{{ i.date}}</td>
            <td >{{ i.start_time}}</td>
            <td >{{ i.end_time}}</td>
                <td><a href="{% url 'schedule_update' i.id %}"><button class="border-3 border-warning">edit</button></a></td>
                <td><a href="{% url 'schedule_delete' i.id %}"><button class="border-3 border-warning">delete</button></a></td>
        </tr>
      {% endfor %}
  </table>

          </div>
      </div>

  </div>

{% endblock %}